In [78]:
import pandas as pd
import numpy as np
# Read the CSV file
df = pd.read_csv('Vancouver.csv')

# Print column names and their data types
print("Column Names and Data Types:")
print(df.dtypes)

Column Names and Data Types:
url                   object
rest_name             object
number_of_reviews      int64
rating               float64
food_type             object
coupon                object
food                 float64
service              float64
ambience             float64
value                float64
about_rest            object
comments              object
image_url             object
dtype: object

In [79]:
# Check for empty cells
empty_cells = df.isna().sum()

# Print the number of empty cells for each column
print("Number of Empty Cells in Each Column:")
print(empty_cells)

Number of Empty Cells in Each Column:
url                  0
rest_name            0
number_of_reviews    0
rating               0
food_type            0
coupon               0
food                 0
service              0
ambience             0
value                0
about_rest           0
comments             0
image_url            0
dtype: int64

In [80]:
def is_whitespace_or_empty(x):
    return isinstance(x, str) and (x.strip() == '' or x != x.strip())
df.applymap(is_whitespace_or_empty).sum()

url                  0
rest_name            0
number_of_reviews    0
rating               0
food_type            0
coupon               0
food                 0
service              0
ambience             0
value                0
about_rest           0
comments             0
image_url            0
dtype: int64

In [81]:
# Strip leading/trailing whitespace from all entries in the 'comments' column
df['comments'] = df['comments'].apply(lambda x: x.strip() if isinstance(x, str) else x)

# Verify if the cleaning was successful
df['comments'].map(is_whitespace_or_empty).sum()

0

In [82]:
# Strip leading/trailing whitespace from all entries in the 'about' column
df['about_rest'] = df['about_rest'].apply(lambda x: x.strip() if isinstance(x, str) else x)

# Verify if the cleaning was successful
df['about_rest'].map(is_whitespace_or_empty).sum()

0

In [83]:
df.applymap(is_whitespace_or_empty).sum()

url                  0
rest_name            0
number_of_reviews    0
rating               0
food_type            0
coupon               0
food                 0
service              0
ambience             0
value                0
about_rest           0
comments             0
image_url            0
dtype: int64

In [84]:
df['rest_name'].is_unique

True

In [85]:
duplicates = df['rest_name'][df['rest_name'].duplicated()].unique()
print("Non-unique restaurant names:")
print(duplicates)

Non-unique restaurant names:
[]

In [86]:
df = df.drop_duplicates(subset=['rest_name'], keep='first')

In [87]:
df

,url,rest_name,number_of_reviews,rating,food_type,coupon,food,service,ambience,value,about_rest,comments,image_url
0,https://www.opentable.com/r/birdies-eats-and-d...,Birdies Eats + Drinks - Burnaby,654,4.5,American,CAN$31 to CAN$50,4.4,4.4,4.5,4.1,Birdies Eats & Drinks is a California-inspired...,Read more Cozy and warm\nGreat food and friend...,https://resizer.otstatic.com/v2/photos/xlarge/...
1,https://www.opentable.com/r/le-crocodile-vanco...,Le Crocodile,0,0.0,French,CAN$51 and over,4.7,4.8,4.5,4.4,"For over four decades, Le Crocodile has been a...","Read more Service is not bad, but I wish the d...",https://resizer.otstatic.com/v2/photos/xlarge/...
2,https://www.opentable.com/r/hariyali-express-i...,Hariyali Express Indian Cuisine & Bar,12,4.5,Indian,CAN$30 and under,4.7,4.4,4.3,4.5,"Sleek restaurant offering Indian fare, includi...",Authentic and impressive Indian Food 5/5. Exce...,https://resizer.otstatic.com/v2/photos/xlarge/...
3,https://www.opentable.com/r/dovetail-vancouver...,Dovetail,0,0.0,Contemporary Canadian,CAN$30 and under,4.8,4.7,4.7,4.4,"California inspired family-style share plates,...","Service, food, cocktails and ambiance were ama...",https://resizer.otstatic.com/v2/photos/xlarge/...
4,https://www.opentable.com/r/havana-vancouver?c...,Havana,685,4.4,Latin American,CAN$30 and under,4.3,4.5,4.4,4.2,Patio is seated on first come first serve basi...,Good healthy food. Lots of choice. Excellent s...,https://resizer.otstatic.com/v2/photos/xlarge/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,https://www.opentable.com/r/bin-4-burger-loung...,Bin 4 Burger Lounge - Nanaimo,228,4.8,Burgers,CAN$30 and under,4.8,4.9,4.7,4.7,Welcome to Bin 4 Burger Lounge - Nanaimo Locat...,"Read more Great food, server was super persona...",https://resizer.otstatic.com/v2/photos/xlarge/...
307,https://www.opentable.com/r/sirka-gourmet-indi...,Sirka Gourmet Indian Kitchen - Langley,0,0.0,Indian,CAN$30 and under,4.0,4.0,4.0,5.0,Experience the authentic flavors of traditiona...,Read more,https://resizer.otstatic.com/v2/photos/xlarge/...
308,https://www.opentable.com/r/satellite-bar-and-...,Satellite Bar & Grille at Arbutus Ridge Golf Club,189,4.2,Contemporary Canadian,CAN$30 and under,4.0,4.4,4.0,4.0,The Satellite Bar & Grille at Arbutus Ridge Go...,Read more I think the turkey died of old age i...,https://resizer.otstatic.com/v2/photos/xlarge/...
309,https://www.opentable.com/r/mr-mikes-duncan-du...,MR MIKES - Duncan,169,4.4,Steakhouse,CAN$30 and under,4.1,4.6,3.9,3.7,Looking for the best nearby casual dining stea...,Read more Excellent service!! Great food. Woul...,https://resizer.otstatic.com/v2/photos/xlarge/...
310,https://www.opentable.com/r/claudios-ristorant...,Claudio's Ristorante,36,4.5,Italian,CAN$30 and under,4.4,4.4,4.6,4.2,Claudio’s Ristorante is a tribute to our fathe...,"Read more Honestly the pizza was so soggy, the...",https://resizer.otstatic.com/v2/photos/xlarge/...

In [88]:


# Replace specific unwanted values with NaN
df = df.replace({
    'number_of_reviews': {'No': np.nan},
    'rating': {'Rating not found': np.nan},
    'food': {'Food not found': np.nan},
    'service': {'Service not found': np.nan},
    'ambience': {'Ambience not found': np.nan},
    'value': {'Value not found': np.nan}
})

# Check for non-numeric values before converting
# This is optional, just for debugging
print(df['number_of_reviews'].unique())

# Convert the columns to float, handle errors
df['number_of_reviews'] = pd.to_numeric(df['number_of_reviews'], errors='coerce')
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['food'] = pd.to_numeric(df['food'], errors='coerce')
df['service'] = pd.to_numeric(df['service'], errors='coerce')
df['ambience'] = pd.to_numeric(df['ambience'], errors='coerce')
df['value'] = pd.to_numeric(df['value'], errors='coerce')

# Fill NaN values with 0
df = df.fillna(0)

# Convert types as required
df = df.astype({
    'number_of_reviews': 'int',
    'rating': 'float',
    'food': 'float',
    'service': 'float',
    'ambience': 'float',
    'value': 'float'
})

[ 654    0   12  685 6395 1070   27  287  158 1397  865 2906 8681  233
 1292   68  708   30  324  766 2954 3622 2606  372 3355 3801 1639 1841
 2935 3652 3888  261 3976 1954 1705 1953  307  386 2548   46  781 2508
  364  869  220 2936    3   38   37  311   79 1148 1163 2640  290  219
 1504  238 1600   64  675   17 3861  513    1 2412  591   24  256  827
   92  416  665  399 1445 3093   11 2922 1273   51  395  218   82   57
   53 1217  189  257 1588  222  608 2093   94    5  973  405  166   65
  382  281  760  833  420   16  437  414   50  506  499  357  592  647
   39   35 1224   47  394  191  450  460   74  391  192  268   29   25
  111    7    9   73  388   40   20    8   41  105 2185  133  663  309
   77  574  137  118  143    2  129    4  164  316   43   21  124   15
   32   14 4286  779 2298  434 2912  310  658   70 1366  459  154  451
 1965 1032  252 3855  368 2172 1708  471 3058 3033 3312  775  194 1622
 1949   10   49 2452  408  146 1559 2542 3100 1091 1358 3542  689 1137
  288 2491 1514  162  984  581  188  886  132 1845  885  107 2567  127
  173  330   69  606 1495  773  854   67  768   34  342  172  575 2283
  210   80  952  387  516  598  702   81   75  273   78  144  123  906
   36  492  136   18  161  202  126  122  100  228  169]

In [89]:
df.dtypes

url                   object
rest_name             object
number_of_reviews      int32
rating               float64
food_type             object
coupon                object
food                 float64
service              float64
ambience             float64
value                float64
about_rest            object
comments              object
image_url             object
dtype: object

In [90]:
print(df['number_of_reviews'].dtype)

int32

In [91]:
# Remove rows where 'rating' is 0
df = df[df['rating'] != 0]

In [92]:
# Save the cleaned dataset
df.to_csv('Vancouver.csv', index=False)