In [2]:
import pandas as pd
from sqlalchemy import create_engine

# List of CSV file paths
file_paths = [
    r"C:\Users\Dell\Desktop\Final project\Alberta.csv",
    r"C:\Users\Dell\Desktop\Final project\Manitoba.csv",
    r"C:\Users\Dell\Desktop\Final project\Ontario.csv",
    r"C:\Users\Dell\Desktop\Final project\Quebec.csv",
    r"C:\Users\Dell\Desktop\Final project\Vancouver.csv"
]

# Table names corresponding to the CSVs
table_names = ['alberta', 'manitoba', 'ontario', 'quebec', 'vancouver']

# Database connection details
db_username = 'postgres'
db_password = 'acadata'
db_host = 'localhost'
db_port = '5432'
db_name = 'final_project' 

# Create the engine to connect to PostgreSQL
engine = create_engine(f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')

# Loop through files and upload each to the corresponding table
for file_path, table_name in zip(file_paths, table_names):
    # Read each CSV file into a DataFrame
    df = pd.read_csv(file_path)
    # Upload the DataFrame to the specified table in PostgreSQL
    df.to_sql(table_name, engine, if_exists='replace', index=False)
    print(f"Uploaded {file_path} to table {table_name}")

Uploaded C:\Users\Dell\Desktop\Final project\Alberta.csv to table alberta
Uploaded C:\Users\Dell\Desktop\Final project\Manitoba.csv to table manitoba
Uploaded C:\Users\Dell\Desktop\Final project\Ontario.csv to table ontario
Uploaded C:\Users\Dell\Desktop\Final project\Quebec.csv to table quebec
Uploaded C:\Users\Dell\Desktop\Final project\Vancouver.csv to table vancouver